{
    "semi": false,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "strict",
    "arrowParens": "always",
    "proseWrap": "preserve",
    "endOfLine": "auto"
}